<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/customer/save}" method="post" th:object="${customer}">
    <input hidden type="text" th:field="*{id}">
    <label for="">Name: </label>
    <input type="text" th:field="*{name}">
    <br>
    <label for="">Date Of Birth</label>
    <input type="date" th:field="*{dateOfBirth}">
    <br>
    <label for="">Identity Card: </label>
    <input type="text" th:field="*{identityCard}">
    <br>
    <label for="">Gender: </label>
    <input name="gender" type="radio" th:field="*{gender}" th:value="true" th:text="Male">
    <input name="gender" type="radio" th:field="*{gender}" th:value="false" th:text="Female">
    <br>
    <label for="">Phone Number: </label>
    <input type="text" th:field="*{phoneNumber}">
    <br>
    <label for="">Email: </label>
    <input type="text" th:field="*{email}">
    <br>
    <label for="">Address: </label>
    <input type="text" th:field="*{address}">
    <br>
    <label for="">Customer Type: </label>
    <select th:field="*{customerType}" name="" id="">
        <option th:each="customerTypeItems : ${customerTypeList}" th:value="${customerTypeItems.id}" th:text="${customerTypeItems.name}">
        </option>
    </select>
    <br>
    <button type="submit" th:if="${id==0}">Add new</button>
    <button type="submit" th:unless="${id==0}">Edit</button>
</form>
</body>
</html>